.btn,
.btn-secundario {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
}

.btn {
    background: var(--primary-light);
    color: var(--white);
}

.btn:hover {
    background: var(--primary);
}

.btn-secundario {
    background: var(--gray-200);
    color: var(--gray-700);
}

.btn-secundario:hover {
    background: var(--gray-300);
}

.btn-falae-primary{

    background:var(--color-primary);

    color:#fff;

    border:none;

    border-radius:12px;

    padding:14px 28px;

    font-weight:600;

    transition:.25s;

}

.btn-falae-primary:hover{

    background:var(--color-primary-dark);

    color:#fff;

    transform:translateY(-1px);

}