<nav
    class="denuncia-tabs"
    id="denunciaTabs"
    aria-label="Etapas da denúncia">

    <button
        type="button"
        class="denuncia-tab ativa"
        data-denuncia-tab="triagem"
        onclick="abrirAbaDenuncia('triagem', this)">

        <span>01</span>
        Triagem

    </button>

    <button
        type="button"
        class="denuncia-tab"
        data-denuncia-tab="investigacao"
        onclick="abrirAbaDenuncia('investigacao', this)">

        <span>02</span>
        Investigação

    </button>

    <button
        type="button"
        class="denuncia-tab"
        data-denuncia-tab="tratamento"
        onclick="abrirAbaDenuncia('tratamento', this)">

        <span>03</span>
        Tratamento

    </button>

    <button
        type="button"
        class="denuncia-tab"
        data-denuncia-tab="planos"
        onclick="abrirAbaDenuncia('planos', this)">

        <span>04</span>
        Planos de ação

    </button>

    <button
        type="button"
        class="denuncia-tab"
        data-denuncia-tab="historico"
        onclick="abrirAbaDenuncia('historico', this)">

        <span>05</span>
        Histórico

    </button>

</nav>